.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  flex: none;
  position: relative;
  z-index: 30;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
  padding-bottom: 5rem;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
}

.day_selected.day_today {
  background-color: #1e40af !important;
  color: white !important;
  border-color: #1e40af !important;
}

.selected-date-hover-fix:hover {
  background-color: #1e40af !important;
  color: #ffffff !important;
  border-color: #1e40af !important;
}